<!doctype html>
<html>
<head>
    <meta charset="UTF-8"> 
    <title>{% block title %}{% endblock %} Open Kichwa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/colors.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet">
    {% block header %}{% endblock %}

    
    
</head>

<body>
    
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <img class="responsive-logo"
                src="{{ url_for('static', filename='images/text over logo no bg.png') }}"
                alt="Logo">
        </div>

        {% if get_locale() == 'es' %}
        <div class="text-muted small fst-italic me-2">
            *Esta traducción fue generada automáticamente
        </div>
        {% endif %}
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
        <div class="container-fluid">

            <a class="navbar-brand" href="#">{{ gettext("Home Button") }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'about' %}active{% endif %}" href="{{ url_for('index_bp.about') }}">{{ gettext("About") }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'contribute' %}active{% endif %}" href="{{ url_for('index_bp.contribute') }}">{{ gettext("contribute") }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.endpoint == 'roadmap' %}active{% endif %}" href="{{ url_for('index_bp.roadmap') }}">{{ gettext("roadmap") }}</a>
                    </li>
                    <div class="text-end">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{{ url_for('user_bp.logout') }}"><button type="button" class="btn btn-danger me-2">Logout</button></a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{{ url_for('user_bp.login') }}"><button type="button" class="btn btn-outline-light me-2">Login</button></a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('user_bp.signup') }}"><button type="button" class="btn btn-success">Sign up</button></a>
                        </li>
                        {% endif %}
                    </div>                    
                </ul>

                <!-- MOBILE Language Selector -->
                <div class="lang-selector d-lg-none w-100 mt-3 d-flex justify-content-end">
                    <div class="dropdown">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        {{ 'EN' if get_locale() == 'en' else 'ES' }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ url_for(request.endpoint, lang='en', **request.view_args) }}">EN</a></li>
                        <li><a class="dropdown-item" href="{{ url_for(request.endpoint, lang='es', **request.view_args) }}">ES</a></li>
                    </ul>
                    </div>
                </div>

                <!-- DESKTOP Language Selector -->
                <div class="dropdown d-none d-lg-block ms-auto">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        {{ 'ES' if get_locale() == 'es' else 'EN' }}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ url_for(request.endpoint, lang='en', **request.view_args) }}">EN</a></li>
                        <li><a class="dropdown-item" href="{{ url_for(request.endpoint, lang='es', **request.view_args) }}">ES</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="row my-3 mx-3">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
           {{message}}
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
        </div>
        <div class="col-md-4"></div>
      </div>
      {% endif %}
    {% endwith %}


    <section class="content">
        <div class="container my-4">
            {% block content %}{% endblock %}
        </div>
        
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>